
/* Standaard stijlen voor kleine schermen (mobiel) */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

header {
    background-image: url('Afbeeldingen/header_foto_brug.png'); 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 24px;
}


.main-content {
    display: flex;
    flex-direction: column; /* Stapel de secties op voor kleine schermen */
}

.left-section,
.right-section {
    width: 100%; /* Volledige breedte voor kleine schermen */
}

ul {
    list-style-type: none;
}

.article {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.article img {
    margin-left: 20px;
    max-width: 100%;
}

/* Stijlen voor grotere schermen */
@media (min-width: 768px) {
    .main-content {
        flex-direction: row; /* Gebruik rijlay-out voor grotere schermen */
    }

    .left-section {
        flex: 3;
        padding: 20px;
    }

    .right-section {
        flex: 9;
        background-color: #64e0cd;
        padding: 20px;
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3a90ff;
    color: white;
}
